# Telegram
BOT_TOKEN=8726805057:AAFmJbAdQesJdvkm2KzerTnQpl0SKgdH4n4

# Database
DATABASE_URL=sqlite+aiosqlite:///./treasurybot.db

# Admin Telegram IDs (comma-separated)
ADMIN_IDS=411356369

# Logging
LOG_LEVEL=INFO
TIMEZONE=Europe/Moscow
